<div class="footer">
    <div class="url">
        <a href="">Bài viết</a>
        <a href="">Điều khoản</a>
        <a href="">FAQ</a>
        <a href="https://www.facebook.com/dovansonnn/">Contact</a>
        <a href="">Đánh giá</a>
        <a href="/api">API</a>
    </div>
</div>