<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <title>Disposable Temporary Email</title>
</head>

<div class="header">
    <div class="menu">
        <div class="app">
            <a href=""><img src="https://10minemail.com/images/itunes_header.svg" alt="">App Store</a>
            <a href=""><img src="https://10minemail.com/images/gplay_header.svg" alt="">Google Play</a>
        </div>
        <div class="logo">
            <a href="/">2NDMAIL.US</a>
        </div>
        <div class="">
            <a class="button" href="/api">API Document</a>
        </div>
    </div>

    <h2 style="text-align: center;">Disposable Temporary Email</h2>
    <div class="email">
        <h2>Your Email Adress</h2>
        <div class="temp-mail">
            <div class="email-adress">
                <p class="mail"></p>
                <div class="realtime">
                    <i class="fas fa-sync-alt"></i>
                </div>
                
            </div>
            
        </div>

        
    </div>
    <p class="slogan">
        Forget about spam, advertising mailings, hacking and attacking robots. Keep your real mailbox clean and secure. 2nd Mail provides temporary, secure, anonymous, free, disposable email address.

    </p>
</div>